*,*::before, *::after{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Francois One';
    src: url('./lib/css/fonts/FrancoisOne-Regular.ttf');
}
@import "lib/css/zodiak.css";
@import "lib/css/plus-jakarta-sans.css";
html {

    /*dark*/
    --text-1-dark: #f0f5f3;
    --text-2-dark: #d1d1d1;
    --text-3-dark: #e1e1e1;

    --text-1-light: #576662;
    --text-2-light: #302e2e;
    --text-3-light: #222020;

    --primary-dark: #77B6BA;
    --primary-background-dark: #007d72;
    --primary-underline-dark: var(--primary-dark);
    --primary-hover-dark: var(--accent);
    --primary-hover-background-dark: #009b8f;
    --primary-focus-dark: rgba(0, 125, 114, 0.375);

    --primary-light: #57A6A1;
    --primary-background-light: #5b92be;
    --primary-underline-light: var(--primary-light);
    --primary-hover-light: var(--accent-light);
    --primary-hover-background-light: var(--accent-light);
    --primary-focus-light: var(--accent-light);

    --brand-dark: #d8a826;
    --brand-light: #d8a826;

    --accent-dark: #d8a826;
    --accent-background-dark: #a07b15;
    --accent-underline-dark: rgba(160, 123, 21, 0.5);
    --accent-hover-dark: #ecc852;
    --accent-hover-background-dark: #b08b17;
    --accent-focus-dark: rgba(160, 123, 21, 0.375);

    --accent-light: #d8a826;
    --accent-background-light: #d8a826;
    --accent-underline-light: rgba(160, 123, 21, 0.5);
    --accent-hover-light: #ecc852;
    --accent-hover-background-light: #b08b17;
    --accent-focus-light: rgba(160, 123, 21, 0.375);

    --surface-1-dark: #25262B;
    --surface-2-dark: #353333;
    --surface-3-dark: #353333;
    --surface-4-dark: #3a3a3a;
    --sufgace-5-dark: #444444;
    --shiki-dark-bg:#2d353b;
    --surface-gradient-dark:linear-gradient(
        95deg,
            hsl(0deg 11% 15%) 0%,
            hsl(0deg 11% 15%) 22%,
            hsl(0deg 9% 16%) 43%,
            hsl(0deg 9% 17%) 62%,
            hsla(7, 9%, 19%, 0.95) 81%,
            hsla(44, 11%, 19%, 0.90) 100%
        );

    --navigation-dark:var(--surface-1-dark);
    --footer-dark:var(--surface-1-dark);

    --surface-1-light: #E9EFEC;
    --surface-2-light: #E9EFEC;
    --surface-3-light: #ffff;
    --surface-4-light: #c1c1c1;
    --surface-5-light: #b1b1b1;
    --shiki-light-bg:#FFFFFF;
     --surface-gradient-light: radial-gradient(circle, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
     --footer-light:var(--primary-light);

    /* settings */
    --font-body: PlusJakartaSans-Regular, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'Fira Mono', monospace;

    --content-width: 900px;
    --base-font-size: 14px;
    --line-height: 1.7;
    --letter-spacing: .5px;
    --word-spacing: 0.12rem;
    --animation-time: 200ms;
    --scroll-padding-top: 20px;
    --shiki-color: var(--text-1);
    --shiki-background-color: var(--surface-1);

    --side: 0 2rem;
    --top:1.5rem  0 0 0;
}
:root{
    color-scheme: dark;
    --brand: var(--brand-dark);
    --primary: var(--primary-dark);
    --accent: var(--accent-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
    --text-3: var(--text-3-dark);
    --text-invert:var(--text-1-light);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);
    --surface-5: var(--surface-5-dark);
    --surface-gradient: var(--surface-gradient-dark);
    --shiki-bg: var(--shiki-dark-bg);
    --navigation: var(--navigation-dark);
    --footer: var(--footer-dark);

    --size-fluid-1: clamp(.5rem, 1vw, 1rem);
    --size-fluid-2: clamp(1rem, 2vw, 1.5rem);
    --size-fluid-3: clamp(1.5rem, 3vw, 2rem);
    --size-fluid-4: clamp(2rem, 4vw, 3rem);
    --size-fluid-5: clamp(4rem, 5vw, 5rem);
    --size-fluid-6: clamp(5rem, 7vw, 7.5rem);
    --size-fluid-7: clamp(7.5rem, 10vw, 10rem);
    --size-fluid-8: clamp(10rem, 20vw, 15rem);
    --size-fluid-9: clamp(15rem, 30vw, 20rem);
    --size-fluid-10: clamp(20rem, 40vw, 30rem);

    --shadow-1: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow-2: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-3: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-4: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-5: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --shadow-6: 0 25px 50px -12px rgb(0 0 0 / 0.25);

    /* Breakpoints */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    /*override styles when needed... */
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #964a50;
    --pico-form-element-invalid-active-border-color: #b7403b;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: var(--accent) !important;
    --pico-form-element-valid-active-border-color: var(--accent) !important;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #333c4e;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fff;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #202632;
    --pico-range-active-border-color: #2a3140;
    --pico-form-element-background-color:var(--surface-2);
    --pico-form-element-active-background-color:var(--surface-1);
}

@media (prefers-color-scheme: light){
    :root{
        color-scheme: light;
        --brand: var(--brand-light);
        --primary: var(--primary-light);
        --accent: var(--accent-light);
        --text-1: var(--text-1-light);
        --text-2: var(--text-2-light);
        --text-3: var(--text-3-light);
        --text-invert:var(--text-1-dark);
        --surface-1: var(--surface-1-light);
        --surface-2: var(--surface-2-light);
        --surface-3: var(--surface-3-light);
        --surface-4: var(--surface-4-light);
        --surface-5: var(--surface-5-light);
        --surface-gradient: var(--surface-gradient-light);
        --shiki-bg: var(--shiki-light-bg);
        --navigation: var(--navigation-light);
        --footer: var(--footer-light);

        --pico-primary: var(--primary-light);
        --pico-primary-background: var(--primary-background-light);
        --pico-primary-underline: var(--primary-underline-light);
        --pico-primary-hover: var(--primary-hover-light);
        --pico-primary-hover-background: var(--primary-hover-background-light);
        --pico-primary-focus: var(--primary-focus-light);
        --pico-primary-inverse: var(--text-2);
        button{
            color: var(--text-1-dark);
        }
    }
}

html[data-theme='dark']{
    --brand: var(--brand-dark);
    --primary: var(--primary-dark);
    --accent: var(--accent-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
    --text-3: var(--text-3-dark);
    --text-invert:var(--text-1-light);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);
    --surface-5: var(--surface-5-dark);
    --surface-gradient: var(--surface-gradient-dark);
    --shiki-bg: var(--shiki-dark-bg);
    --navigation: var(--navigation-dark);
    --footer: var(--footer-dark);

    --pico-primary: var(--accent-dark);
    --pico-primary-background: var(--accent-background-dark);
    --pico-primary-underline: var(--accent-underline-dark);
    --pico-primary-hover: var(--accent-hover-dark);
    --pico-primary-hover-background: var(--accent-hover-background-dark);
    --pico-primary-focus: var(--accent-focus-dark);
    --pico-primary-inverse: var(--text-2);

    .shiki, .shiki span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
        /* Optional, if you also want font styles */
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
    }
}

html[data-theme='light']{
    --brand: var(--brand-light);
    --primary: var(--primary-light);
    --accent: var(--accent-light);
    --text-1: var(--text-1-light);
    --text-2: var(--text-2-light);
    --text-3: var(--text-3-light);
    --text-invert:var(--text-1-dark);
    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);
    --surface-3: var(--surface-3-light);
    --surface-4: var(--surface-4-light);
    --surface-5: var(--surface-5-light);
    --surface-gradient: var(--surface-gradient-light);
    --shiki-bg: var(--shiki-light-bg);
    --navigation: var(--navigation-light);
    --footer: var(--footer-light);

    --pico-primary: var(--primary-light);
    --pico-primary-background: var(--primary-background-light);
    --pico-primary-underline: var(--primary-underline-light);
    --pico-primary-hover: var(--primary-hover-light);
    --pico-primary-hover-background: var(--primary-hover-background-light);
    --pico-primary-focus: var(--primary-focus-light);
    --pico-primary-inverse: var(--text-2);

}

[data-theme=light],
:root:not([data-theme=dark]) {
    --pico-primary: var(--primary-light);
    --pico-primary-background: var(--primary-background-light);
    --pico-primary-underline: var(--primary-underline-light);
    --pico-primary-hover: var(--primary-hover-light);
    --pico-primary-hover-background: var(--primary-hover-background-light);
    --pico-primary-focus: var(--primary-focus-light);
    --pico-primary-inverse: var(--text-2);
}

[data-theme=dark],
:root:not([data-theme=light]) {
    --pico-primary: var(--primary-dark);
    --pico-primary-background: var(--primary-background-dark);
    --pico-primary-underline: var(--primary-underline-dark);
    --pico-primary-hover: var(--primary-hover-dark);
    --pico-primary-hover-background: var(--primary-hover-background-dark);
    --pico-primary-focus: var(--primary-focus-dark);
    --pico-primary-inverse: var(--text-2);

}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding-top);
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}
body{
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-color: var(--surface-1);
}

html, body{
    margin: 0;
    padding: 0;
    font-family: var(--font-body) ;
    font-size: calc(var(--base-font-size) + 0.28vw);
    line-height: var(--line-height);
    word-spacing: var(--word-spacing);
    color: var(--text-1);
    box-sizing: border-box;
    letter-spacing: var(--letter-spacing);
    text-wrap: pretty;

    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        transition: all var(--animation-time) ease-in-out;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--surface-2);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--primary);
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--accent);
        transition: background-color var(--animation-time) ease-in-out;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Francois One';
    letter-spacing: 0.04em;
    margin-bottom: .5rem;
    margin-top: .5rem;
    color:var(--primary);
}

h1 {
    font-size: 2.5rem;    /* Hauptüberschrift */
    font-size: 2rem;
    line-height: 2.5rem;

}

h2 {
    font-size: 1.5rem;  /* Unterüberschrift */
    line-height: 2rem;
}

h3 {
    font-size: 1rem;    /* Zwischenüberschrift */
    line-height: 1.5rem;
}

h4 {
    font-size: 0.75rem;  /* kleinere Überschrift */
    line-height: 1rem;
}

h5 {
    font-size: .5rem; /* kleinste Überschrift */
    line-height: 0.75rem;
}

h6 {
    font-size: 0.25rem;    /* minimaler Header, meist als Akzent oder für kleine Sektionen */
    line-height: 0.5rem;
}

.surface-1{
    background-color: var(--surface-1);
    color: var(--text-1);
}
.surface-2{
    background-color: var(--surface-2);
    color: var(--text-2);
}
.surface-3{
    background-color: var(--surface-3);
    color: var(--text-3);
}
.surface-4{
    background-color: var(--surface-4);
    color: var(--text-3);
}
.surface-5{
    background-color: var(--surface-5);
    color: var(--text-3);
}
.surface-gradient {
    /*background-color: var(--primary);*/
    background-image: var(--surface-gradient);
}
.navigation {
    background-color: var(--navigation);
    color:var(--text-3);
}

.primary{
    color: var(--primary);
}
.accent{
    color: var(--accent);
}
.brand{
    color: var(--brand);
}
ul:not(.blog-post ul){
    padding-inline-start: 0px;
}
li:not(.blog-post li){
    list-style-type: none;
}

.shiki {
    margin-bottom: var(--size-6);
    width: 100%;
    max-inline-size: 100%;
    align-self: center;
    border-radius: 0 0 var(--size-2) var(--size-2);
    box-shadow: var(--shadow-5);
    border-bottom: 1px solid var(--surface-2) !important;
    border-left: 1px solid var(--surface-2) !important;
    border-right: 1px solid var(--surface-2) !important;
    /*border-left: 1px solid var(--surface-4);
    border-right: 1px solid var(--surface-4);
    border-bottom: 1px solid var(--surface-4);*/
    box-sizing: border-box;
    font-size: .9rem !important;
    code {
        width: 100%;
        max-width: 100%;
        max-inline-size: 100%;
        overflow-x: auto;
        display: block;
        transition: all var(--animation-time) ease-in-out;
    }
    transition: all var(--animation-time) ease-in-out;
}

.copy-button-wrapper {
    --border-radius: var(--size-2) var(--size-2) 0 0;
    --border-radius-label: var(--size-1);
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    /*max-inline-size: 95%;*/
    max-inline-size: 100%;
    padding: .4rem;
    border-radius: var(--border-radius);
    border-top: 1px solid var(--surface-2) !important;
    border-left: 1px solid var(--surface-2) !important;
    border-right: 1px solid var(--surface-2) !important;
    /*background-color: var(--surface-3);*/
    /*background: linear-gradient(70deg, var(--surface-2) calc(100% - 40px), var(--surface-3) 40px);*/
    background-color: var(--shiki-bg);
    box-sizing: border-box;
    /*border-left: .1px solid var(--surface-6);
    border-right: .1px solid var(--surface-6);
    border-top: .1px solid var(--surface-6);
    border-bottom: 1px solid var(--surface-1);*/

    .language-description {
        margin: 0;
        padding: 0;
        padding-inline: var(--size-1);
        padding-block:1px;
        margin-left: 5px;
        display: flex;
        text-align: center;
        align-items: center;
        align-self: center;

        background-color: var(--primary);
        font-weight: var(--font-weight-7);
        font-size: .6rem;
        line-height: .7rem;
        height: 1rem;
        text-transform: uppercase;
        border-radius: var(--border-radius-label);
        color: var(--shiki-bg);
    }

    .copy-button {
        margin: 0;
        margin-right: 5px;
        margin-block:var(--size-1);

        padding: 0px;

        background-color: inherit;
        border:none;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        outline: none!important;
        border: none!important;
        box-shadow: none!important;
        stroke: 0!important;
        svg{
            display: flex;
            justify-self: center;
            fill:transparent;
            stroke: var(--primary);
            stroke-width: 2px;
            transition: all var(--animation-time) ease-in-out;
            height: 1.2rem !important;
            margin: 0 !important;
            padding: 0 !important;
            width: auto;
            background-color: var(--shiki-bg);
        }
        &:hover{
            outline: none!important;
            border: none!important;
            box-shadow: none!important;
            stroke: 0!important;
            svg {
                /*fill:var(--brand);*/
                stroke: var(--surface-1);
                stroke: var(--accent);
                outline: none;
                /*transition: all var(--animation-time) ease-in-out;*/
            }
            transition: all var(--animation-time) ease-in-out;
        }
        transition: all var(--animation-time) ease-in-out;
    }
    transition: all var(--animation-time) ease-in-out;
}

.katex{
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    justify-content: flex-start !important;
}

.blog-post{
    p{
        color: var(--text-1);
    }

    h1, h2, h3, h4, h5, h6{
        margin-top: 2.5rem;
    }

    width: 100%;
    img {
        width: 100%;
        max-inline-size: 100%;
        max-block-size: 100%;
        height: auto;
        object-fit: contain;
        border-radius: var(--size-3);
        box-shadow: var(--shadow-5);
        box-sizing: border-box;
        object-position: center;
        margin-bottom: var(--size-8);
        margin-top: var(--size-2);
    }
    .codesandbox, .video, .website{
        margin-bottom: var(--size-6);
        width: 100%;
        max-inline-size: 100%;
        align-self: center;
        border-radius: var(--size-2);
        box-shadow: var(--shadow-5);
        box-sizing: border-box;
        transition: all var(--animation-time) ease-in-out;
        border-radius: var(--size-4);
        height: 600px;
    }
}











@media (max-width: 767.98px) {
    :root {
        --base-font-size:16px !important;
    }
}





