*,*::before, *::after{
    box-sizing: border-box;
}

@import "lib/css/zodiak.css";
@import "lib/css/plus-jakarta-sans.css";
html {

    --text-1-light: #576662;
    --text-1-light: #4d5250;
    --text-2-light: #4e4949;
    --text-3-light: #354c58;
    --text-4-light: #1f2937;

    --primary-light: #77B6BA;
    --primary-background-light: #5b92be;
    --primary-underline-light: var(--primary-light);
    --primary-hover-light: var(--accent-light);
    --primary-hover-background-light: var(--accent-light);
    --primary-focus-light: var(--accent-light);

    --brand-light: #d8a826;
    --brand-light: #C4B26A;

    --accent-light: #378D93;
    --accent-background-light: #d8a826;
    --accent-underline-light: rgba(160, 123, 21, 0.5);
    --accent-hover-light: #ecc852;
    --accent-hover-background-light: #b08b17;
    --accent-focus-light: rgba(160, 123, 21, 0.375);

    --surface-1-light: #ffffff;
    --surface-2-light: #ffffff;
    --surface-3-light: #f3f1d7;
    --surface-4-light: #4d929b;


     --surface-gradient-light: radial-gradient(circle, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
     --footer-light:var(--primary-light);

    /* settings */
    --font-body: 'PlusJakartaSans-Regular', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'Fira Mono', monospace;
    --font-body-headings: 'Zodiak-Bold', 'PlusJakartaSans-Regular';

    --content-width: 980px;
    --base-font-size: 16px;
    --line-height: normal;
    --letter-spacing: normal;
    --word-spacing: 0.12rem;
    --animation-time: 200ms;
    --scroll-padding-top: 8.5rem;
    --scroll-margin-top: 8.5rem;

    --side: 0 2rem;
    --top:1.5rem  0 0 0;


}
:root{
    --size-fluid-1: clamp(.5rem, 1vw, 1rem);
    --size-fluid-2: clamp(1rem, 2vw, 1.5rem);
    --size-fluid-3: clamp(1.5rem, 3vw, 2rem);
    --size-fluid-4: clamp(2rem, 4vw, 3rem);
    --size-fluid-5: clamp(4rem, 5vw, 5rem);
    --size-fluid-6: clamp(5rem, 7vw, 7.5rem);
    --size-fluid-7: clamp(7.5rem, 10vw, 10rem);
    --size-fluid-8: clamp(10rem, 20vw, 15rem);
    --size-fluid-9: clamp(15rem, 30vw, 20rem);
    --size-fluid-10: clamp(20rem, 40vw, 30rem);

    --shadow-1: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow-2: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-3: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-4: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-5: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --shadow-6: 0 25px 50px -12px rgb(0 0 0 / 0.25);

    /* Breakpoints */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    /*override styles when needed... */
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #964a50;
    --pico-form-element-invalid-active-border-color: #b7403b;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: var(--accent) !important;
    --pico-form-element-valid-active-border-color: var(--accent) !important;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #333c4e;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fff;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #202632;
    --pico-range-active-border-color: #2a3140;
    --pico-form-element-background-color:var(--surface-2);
    --pico-form-element-active-background-color:var(--surface-1);
}

@media (prefers-color-scheme: light){
    :root{
        color-scheme: light;
        --brand: var(--brand-light);
        --primary: var(--primary-light);
        --accent: var(--accent-light);
        --text-1: var(--text-1-light);
        --text-2: var(--text-2-light);
        --text-3: var(--text-3-light);
        --text-invert:var(--text-1-dark);
        --surface-1: var(--surface-1-light);
        --surface-2: var(--surface-2-light);
        --surface-3: var(--surface-3-light);
        --surface-4: var(--surface-4-light);
        --surface-5: var(--surface-5-light);
        --surface-gradient: var(--surface-gradient-light);
        --shiki-bg: var(--shiki-light-bg);
        --navigation: var(--navigation-light);
        --footer: var(--footer-light);
    }
}
html[data-theme='light']{
    --brand: var(--brand-light);
    --primary: var(--primary-light);
    --accent: var(--accent-light);
    --text-1: var(--text-1-light);
    --text-2: var(--text-2-light);
    --text-3: var(--text-3-light);
    --text-invert:var(--text-1-dark);
    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);
    --surface-3: var(--surface-3-light);
    --surface-4: var(--surface-4-light);
    --surface-5: var(--surface-5-light);
    --surface-gradient: var(--surface-gradient-light);
    --navigation: var(--navigation-light);
    --footer: var(--footer-light);

    --pico-primary: var(--primary-light);
    --pico-primary-background: var(--primary-background-light);
    --pico-primary-underline: var(--primary-underline-light);
    --pico-primary-hover: var(--primary-hover-light);
    --pico-primary-hover-background: var(--primary-hover-background-light);
    --pico-primary-focus: var(--primary-focus-light);
    --pico-primary-inverse: var(--text-2);

}

[data-theme=light],
:root:not([data-theme=dark]) {
    --pico-primary: var(--primary-light);
    --pico-primary-background: var(--primary-background-light);
    --pico-primary-underline: var(--primary-underline-light);
    --pico-primary-hover: var(--primary-hover-light);
    --pico-primary-hover-background: var(--primary-hover-background-light);
    --pico-primary-focus: var(--primary-focus-light);
    --pico-primary-inverse: var(--text-2);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding-top);
    scroll-snap-type:proximity;
}
body{
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-color: var(--surface-1);
}

html, body{
    margin: 0;
    padding: 0;
    font-family: var(--font-body) ;
    font-size: calc(var(--base-font-size) + 0.28vw);
    font-size: calc(var(--base-font-size));
    line-height: var(--line-height);
    word-spacing: var(--word-spacing);
    color: var(--text-1);
    box-sizing: border-box;
    letter-spacing: var(--letter-spacing);
    text-wrap: pretty;

    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        transition: all var(--animation-time) ease-in-out;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--surface-2);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--primary);
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--accent);
        transition: background-color var(--animation-time) ease-in-out;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-body-headings);
    color: var(--text-1);
    /*margin-bottom: 1.5rem;
    margin-top: 0.5rem;*/
}
ul{
    padding-inline-start: 0px;
}

li{
    list-style-type: none;
}

hr {
  width: 2rem;
  border: none;
  border-top: 2px solid var(--primary); /* Farbe und Dicke der Linie */
  margin-block: 2rem;        /* Abstand zum oberen und unteren Rand und Zentrierung */
  border-radius: 5px;
  margin-inline: .2rem;       /* Abgerundete Ecken */
  justify-self: center;
  display: flex;
  align-self: center;
}

article{ /*resets pico article style*/
    box-shadow: none;
    margin: 0;
    padding: 0;
    border:none;
    border-radius: 0;
    background-color: transparent;
}
section{
    margin: 0;
    padding: 0;
}
hgroup,p,a,article,section,header,footer,nav,aside,figure,figcaption,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,legend,button,input,textarea,form,table,th,td,iframe,video,embed,object,applet,canvas,script,code,abbr,acronym,address,bdo,cite,dfn,kbd,samp,var,mark,small,strong,sub,sup,tt,big,del,ins,em,i,q,s,strike,u,center,font,span{
    color: var(--text-1);
}
hgroup{
    width:100%;
}
p{
    text-wrap: pretty;
    text-rendering: geometricPrecision;
    text-size-adjust: 100%;
    text-justify: kashida;
    -ms-text-justify: kashida;
    color:var(--text-1);
    font-size: 1.1rem;
}
fieldset{
    border: #227d9431 1px solid;
    border-radius: 2rem 0;
    padding-inline: 2rem;
    padding-bottom: 2rem;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    width: 100%;
    legend{
        text-align: center;
        padding-inline: 1rem;
        margin-bottom: 2rem;
        font-size: 1.1rem !important;

    }
}
.text{
    text-align: justify;
    max-width: 740px;
    justify-self: center;
    align-self: center;
    text-align-last: center;
}
.surface-1{
    background-color: var(--surface-1);
    color: var(--text-1);
}
.surface-2{
    background-color: var(--surface-2);
    color: var(--text-2);
}
.surface-3{
    background-color: var(--surface-3);
    color: var(--text-3);
}
.surface-4{
    background-color: var(--surface-4);
    color: var(--text-3);
}
.surface-5{
    background-color: var(--surface-5);
    color: var(--text-3);
}
.surface-gradient {
    /*background-color: var(--primary);*/
    background-image: var(--surface-gradient);
}
.navigation {
    background-color: var(--navigation);
    color:var(--text-3);
}
.primary{
    color: var(--primary);
}
.accent{
    color: var(--accent);
}
.brand{
    color: var(--brand);
}
.background-svg {
    position: absolute !important;
    bottom: -64.5%;
    left: -15%;
}
.background-svg-about-me {
    background-attachment: fixed; /* Keeps the background in a fixed position */
    overflow-x: hidden; /* Avoids horizontal scroll, optional */
    margin: 0;
    padding: 0;
    background-size: cover; /* Ensures the SVG covers the whole viewport */
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    bottom: -45%;
    left: -15%;
    opacity: 1;
    z-index: 1;
    transition: all 300ms ease-in-out;
}
.background-svg-down {
    bottom: -55%;
    transition: all 300ms ease-in-out;
}
 .background-svg-hide {
    opacity: 0;
    transition: all 300ms ease-in-out;
}
.hero {
    margin-top: 3rem;
    margin-bottom: 4rem;
    width: 100%;
    max-width: 1000px;
    justify-self: center;
    align-self: center;
    height: 100%;
    max-height: 540px;
    overflow: hidden;
    border-radius: 1rem;
}
.hero-image{
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.heading {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    font-family: "Zodiak-Bold";
    text-align: center;
    color:var(--text-1);
}
.sub-heading {
    font-family: PlusJakartaSans-Regular;
    margin: 0;
    padding: 0;
    font-size: 1.2rem !important;
    line-height: 2rem;
    margin-top: 1rem;
    font-weight: 100;
    text-align: center;
    justify-self: center;
    width: 80%;
    color:var(--text-1);
}

@media (max-width: 767.98px) {
    :root {
        /*--base-font-size: 18px;*/
    }
}





